.card{
  background:rgba(30, 30, 35, 0.45);
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);
  border:1px solid rgba(255, 255, 255, 0.06);
  padding:40px;
  border-radius:15px;
  box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.3);
  transition:all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.card:hover{
  transform:translateY(-10px);
  background: rgba(255, 60, 0, 0.15);
  border-color: rgba(255, 60, 0, 0.6);
  box-shadow: 0 15px 45px rgba(255, 60, 0, 0.25);
}